@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}
.header{
    padding: 0;
    display: flex;
    position: fixed;
    background-color: #EAEAEA;
    width: 100%;
    align-items: center;
}
#btnMenu{
    background-color: transparent;
    margin: 0 1% 0 1%;
    border: 0;
}
#btnMenu:hover{
    background-color: #b8c2cc;
}
.titles{
    font-family: "Poppins", sans-serif;
}
@keyframes changeWidth{
    from{
        width: 100%;
    } to{
        width: 83%;
    }
}
@keyframes slideOutQuests{
    from {
        left: 15%;
    } to{
        left: 0;
    }
}
.body{
    display: flex;
    overflow-y: scroll;
    border: 2px solid black;
    height: fit-content;
    width: 98%;
    position: absolute;
    top: 100px;
    margin: 0 0.5% 0 1%;
    height: 87%;
    padding: 10px;
    transition: left 0.3s, width 0.3s ease;
    animation-duration: 0.3s;
}
.body.active{
    animation-name: changeWidth;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.body:not(.active){
    animation-name: slideOutQuests;
}
.body::-webkit-scrollbar{
    width: 5px;
}
.body::-webkit-scrollbar-track:vertical{
    background: #bbb;
}
.body::-webkit-scrollbar-track:vertical:active{
    background: #ff5c7b;
}
@keyframes slideIn {
    from{
        left: -15%;
    } to{
        left:0;
    }
}

@keyframes slideOut{
    from{
        left: 0;
    } to{
        left: -15%;
    }
}
#sidebar{
    position: absolute;
    left: -15%;
    height: 100%;
    width: 15%;
    background-color: #EAEAEA;
    transition: left 0.3s ease;
    animation-duration: 0.3s;
}
#sidebar:active{
    animation-name: slideIn;
}

#sidebar:not(.active){
    animation-name: slideOut;
}
.itemMenu{
    background-color: transparent;
    border: 0;
    margin: 100px 0 0 10%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.itemMenu:hover{
    background-color: #b8c2cc;
}
#addQuest {
    border: 0;
    border-radius: 50%;
    background-color: #4CAF50;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    cursor: pointer;
}
#modal{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    z-index: 1;
}
#questBox{
    background-color: #fff;
    position: absolute;
    top: 25%;
    left: 25%;
    bottom: 25%;
    right: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 300px;
    border-radius: 10px;
    height: auto;
}
#btnClose{
    float: left;
    border: 0;
    border-radius: 10px;
    width: 50px;
    background-color: #cb1010;
    cursor: pointer;
}
.labelQuest{
    margin: 0 0 1% 5%;
    font-size: 20px;
}
input[type="text"] {
    text-decoration: none;
    border: 0;
    box-shadow: 0 5px 10px #000;
    margin: 0 0 1% 5%;
    font-size: 15px;
    font-family: "Poppins",sans-serif;
    padding: 10px;
    width: 90%;
}
#radios{
    display: flex;
    flex-direction: row;
    margin: 1% 0 0 0;
    justify-content: space-evenly;
}
input[type="color"]{
     border: 2px solid #EAEAEA;
    border-radius: 5px;
}
#saveButton{
    background-color: #4682B4;
    margin: 1% 0 0 0;
    border: 0;
    border-radius: 10px;
    height: 50px;
}
.material-symbols-outlined.save {
  font-size: 30px;
}
.questContainer{
    width: 100%;
}
#important,
#notImportant{
    width: 100%;
}
.line {
    background-color: #000;
    border: 0;
    height: 3px;
    width: 100%;
    margin: 0;
}
@keyframes fadeIn {
    from {
        transform: scale(0);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}
.importante {
    background-color: #bc0622;
    padding: 10px;
    margin: 1% 0 0 0;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0px 5px 5px #000;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}

.noImportante {
    background-color: #e8e9c8;
    padding: 10px;
    margin: 1% 0 0 0;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0px 5px 5px #000;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}

.complete{
    position:relative;
    left: 85%;
    bottom: 65px;
    font-size: clamp(0.5rem,1.3vw,2rem);
    font-family: "Poppins";
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
.complete:hover{
    box-shadow: inset 1rem 3.2rem #cdffad;
}
@keyframes bounceOut {
    20%{
        transform: translateY(-30px);
        opacity: 1;
    } 100% {
        transform: translateY(2000px);
        opacity: 0;
    }
}
.bounce-out{
    animation: bounceOut 1.5s ease forwards;
}